
.modal-content{
    align-items: center;
    width:30%;cursor:zoom-in;
    display:block;
}
.modal-body{
    border: 1px;
    font-weight: bold;
}
.modal-title{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#lista{
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.contenedor{
    text-align: center;
    padding-top:20px;
}
#body{
    text-align: center; 
    background: url("https://t1.salir.ltmcdn.com/es/places/5/1/2/img_126215_cine-megarama-granada-neptuno_0_orig.jpg") no-repeat center center fixed;
    background-size: cover;
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
.card{
    margin : 1rem auto;
    padding : 1rem;
}